<a href="https://colab.research.google.com/github/jay24rajput/Titanic-Prediction/blob/master/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
! pip install -q kaggle

In [0]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"jay24rajput","key":"0224c5427d13a22c9a64d0cfb2baafa0"}'}

In [0]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                         title                                                size  lastUpdated          downloadCount
----------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------
allen-institute-for-ai/CORD-19-research-challenge           COVID-19 Open Research Dataset Challenge (CORD-19)    3GB  2020-05-20 17:23:43          71773
roche-data-science-coalition/uncover                        UNCOVER COVID-19 Challenge                          179MB  2020-05-21 18:57:53          10476
sudalairajkumar/nifty-indices-dataset                       Nifty Indices Dataset                                 1MB  2020-05-09 17:22:01            621
mrisdal/married-at-first-sight                              Married at First Sight                                2KB  2020-05-09 07:25:16           1527
amanarora/obesity-among-adults-by-country-19752016          Obesity among adults by country, 1975-2016          362KB  2020-05-08 07:40:50           2341
susuwatari/epa-vehicle-dataset-19802021                     EPA Vehicle Dataset (~1980-2021)                      2MB  2020-05-10 18:20:19            507
mrmorj/hospital-bed-capacity-and-covid19                    Hospital Bed Capacity and COVID-19                   86KB  2020-05-10 09:22:49           1328
mrmorj/political-advertisements-from-facebook               Political Advertisements from Facebook              237MB  2020-05-05 18:53:51            502
gyejr95/tft-match-data                                      TFT(League Of Legends) - High Elo Ranked Games       23MB  2020-05-24 09:06:54            548
idoyo92/epl-stats-20192020                                  English Premier League stats 2019-2020              580KB  2020-05-15 14:11:44           1510
timxia/enriched-global-mobility-data-apple-google           Enriched Global Mobility Data (Apple + Google)        4MB  2020-05-22 01:00:09            578
andrewmvd/udemy-courses                                     Udemy Courses                                       200KB  2020-05-17 00:01:42           2000
jessemostipak/animal-crossing                               Animal Crossing Reviews                             754KB  2020-05-04 15:30:32           1050
phiitm/covid19-research-preprint-data                       COVID-19 Research Preprint Data                       3MB  2020-05-25 19:47:44            357
benroshan/factors-affecting-campus-placement                Campus Recruitment                                    5KB  2020-04-11 11:09:02           5517
bobbyscience/league-of-legends-diamond-ranked-games-10-min  League of Legends Diamond Ranked Games (10 min)     539KB  2020-04-13 13:53:02           2541
fireballbyedimyrnmom/us-counties-covid-19-dataset           US counties COVID 19 dataset                          2MB  2020-05-26 13:22:36           7243
divyansh22/flight-delay-prediction                          January Flight Delay Prediction                      23MB  2020-04-14 13:15:41           1848
clmentbisaillon/fake-and-real-news-dataset                  Fake and real news dataset                           41MB  2020-03-26 18:51:15           4995
ikiulian/global-hospital-beds-capacity-for-covid19          Global Hospital Beds Capacity (for covid-19)        284KB  2020-04-26 09:39:35           2108

In [0]:
! kaggle competitions download -c 'titanic'

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 23.6MB/s]
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 28.7MB/s]
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 2.68MB/s]

In [0]:
import pandas as pd
import pandas as pd

##Load the Data frames into Memory

In [12]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

df_train

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

##Delete all unnecessary columns from the dataframe

In [0]:
def deletecolumns(df,columns):
  df = df.drop(columns, axis = 1)
  return df
  
columns = ['PassengerId','Name','Ticket','Fare','Embarked']
df_train = deletecolumns(df_train, columns)
df_test = deletecolumns(df_test, columns)

In [19]:
df_train

     Survived  Pclass     Sex   Age  SibSp  Parch Cabin
0           0       3    male  22.0      1      0   NaN
1           1       1  female  38.0      1      0   C85
2           1       3  female  26.0      0      0   NaN
3           1       1  female  35.0      1      0  C123
4           0       3    male  35.0      0      0   NaN
..        ...     ...     ...   ...    ...    ...   ...
886         0       2    male  27.0      0      0   NaN
887         1       1  female  19.0      0      0   B42
888         0       3  female   NaN      1      2   NaN
889         1       1    male  26.0      0      0  C148
890         0       3    male  32.0      0      0   NaN

[891 rows x 7 columns]

In [20]:
df_test

     Pclass     Sex   Age  SibSp  Parch Cabin
0         3    male  34.5      0      0   NaN
1         3  female  47.0      1      0   NaN
2         2    male  62.0      0      0   NaN
3         3    male  27.0      0      0   NaN
4         3  female  22.0      1      1   NaN
..      ...     ...   ...    ...    ...   ...
413       3    male   NaN      0      0   NaN
414       1  female  39.0      0      0  C105
415       3    male  38.5      0      0   NaN
416       3    male   NaN      0      0   NaN
417       3    male   NaN      1      1   NaN

[418 rows x 6 columns]